version: "3.3"
services:
  core:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - $PWD:/opt/app
    environment:
      - RUNTYPE=bash
      - PYTHONDONTWRITEBYTECODE=1
      - DJANGO_WATCHMAN_TIMEOUT=60
    env_file:
      - .env
  db:
    image: postgres:13
    ports:
      - "5432:5432"
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata

volumes:
  app:
  app-db-data: